<nz-table #customerTable (nzPageIndexChange)="onChangePageIndex($event)" [nzData]="listOfData" [nzPageSize]="page.size" [nzTotal]="page.totalItem">
    <thead>
      <tr>
        <th [nzWidth]="'60px'" nzAlign="center">STT</th>
        <th>Tên</th>
        <th>Mail</th>
        <th>Số điện thoại</th>
        <th [nzWidth]="'60px'" nzAlign="center">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of customerTable.data;let i=index">
        <td>{{(page.page - 1) * page.size + i + 1}}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone_number }}</td>
        <td>
          <div class="flex space-x-2">
            <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteCustomer(data.id)" class="cursor-pointer"></i>         
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>