<h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Đơn hàng</h3>
<div class="w-full container">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Mã
          </th>
          <th scope="col" class="px-6 py-3">
            Phương thức thanh toán
          </th>
          <th scope="col" class="px-6 py-3">
            Trạng thái
          </th>
          <th scope="col" class="px-6 py-3">
            Giá
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listOrder">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{item.code}}
            </th>
            <td class="px-6 py-4">
              {{item.payment_method_name}}
            </td>
            <td class="px-6 py-4">
              {{item.status_name}}
            </td>
            <td class="px-6 py-4">
              {{item.total_amount|number}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>