<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="supplier">
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <span>Nhà cung cấp</span>
      </li>
      <li nz-menu-item routerLink="product">
        <i nz-icon nzType="code-sandbox" nzTheme="outline"></i>
        <span>Sản phẩm</span>
      </li>
      <li nz-menu-item routerLink="category">
        <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
        <span>Danh mục</span>
      </li>
      <li nz-menu-item routerLink="order">
        <i nz-icon nzType="snippets" nzTheme="outline"></i>
        <span>Đơn hàng</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="tag" nzTheme="outline"></i>
        <span>Voucher</span>
      </li>      
      <li nz-submenu nzOpen nzTitle="Tài khoản" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="account-customer">
            <a>Khách hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="account-admin">
            <a>Admin</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <!-- <nz-page-header class="site-page-header" [nzTitle]="nameHeader"></nz-page-header> -->
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>