<div class="flex justify-center w-full min-h-screen bg-gray-100 text-gray-800 p-8">

	<!-- Component Start -->
	<div class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 w-full max-w-screen-lg">
		<div class="lg:col-span-2">
			<h2 class="text-sm font-medium">Phương thức thanh toán</h2>
			<div class="bg-white rounded shadow-lg">
				<div class="flex items-center px-8 py-5">
					<input name="options" value="ThanhToanKhiNhanHang" id="options1" [(ngModel)]="paymentmethods"
						class="appearance-none w-4 h-4 rounded-full border-2 border-white ring-2 ring-blue-600 ring-opacity-100"
						type="radio">
					<label class="text-sm font-medium ml-4">Thanh toán khi nhận hàng</label>
				</div>
				<div class="flex items-center px-8 py-5">
					<input name="options" value="VNPAY" id="options1" [(ngModel)]="paymentmethods"
						class="appearance-none w-4 h-4 rounded-full border-2 border-white ring-2 ring-blue-600 ring-opacity-100"
						type="radio">
					<label class="text-sm font-medium ml-4">VNPAY</label>
				</div>
				<div class="border-t">
					<div class="flex items-center px-8 py-5">
						<input name="options" value="creatcard" id="options2" [(ngModel)]="paymentmethods"
							class="appearance-none w-4 h-4 rounded-full border-2 border-white ring-2 ring-blue-600 ring-opacity-100"
							type="radio">
						<label class="text-sm font-medium ml-4">Credit Card</label>
					</div>
					<div class="grid grid-cols-2 gap-4 px-8 pb-8">
						<div class="col-span-2">
							<label class="text-xs font-semibold" for="cardNumber">Card number</label>
							<input class="flex items-center h-10 border mt-1 rounded px-4 w-full text-sm" type="text"
								[(ngModel)]="creditCard.cardnumber" placeholder="0000 0000 0000 0000">
						</div>
						<div class="">
							<label class="text-xs font-semibold" for="cardNumber">Expiry Date</label>
							<input class="flex items-center h-10 border mt-1 rounded px-4 w-full text-sm" type="text"
								[(ngModel)]="creditCard.date" placeholder="MM/YY">
						</div>
						<div class="">
							<label class="text-xs font-semibold" for="cardNumber">CVC/CVV</label>
							<input class="flex items-center h-10 border mt-1 rounded px-4 w-full text-sm"
								type="password" [(ngModel)]="creditCard.password" placeholder="...">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<h2 class="text-sm font-medium">Tóm tắt đơn mua hàng</h2>
			<div class="bg-white rounded mt-4 shadow-lg py-6">
				<div class="px-8">
					<p>Voucher</p>
					<div class="flex items-end">
						<select class="text-sm font-medium focus:outline-none -ml-1 w-full" [(ngModel)]="voucher"
							(ngModelChange)="selectVoucher($event)">							
							<option value="0"></option>
							<!-- <option [ngValue]="null" [disabled]="true" >All</option> -->
							<ng-container>
								<option *ngFor="let item of listVoucher" [value]="item.id">{{item.description}}</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="px-8 mt-4 border-t pt-4">
					<div class="flex items-end justify-between">
						<span class="font-semibold">Tổng tiền</span>
						<span class="font-semibold">{{total_amount_voucher|number}} VNĐ</span>
					</div>
				</div>
				<div class="flex flex-col px-8 pt-4">
					<button
						class="flex items-center justify-center bg-blue-600 text-sm font-medium w-full h-10 rounded text-blue-50 hover:bg-blue-700"
						(click)="thanhtoan()">Thanh toán</button>
					<!-- <button class="text-xs text-blue-500 mt-3 underline">Have a coupon code?</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Component End  -->

</div>