<!-- banner -->
<div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('assets/images/banner-bg.jpg');">
    <div class="container">
        <h1 class="text-6xl text-gray-800 font-medium mb-4">
            Thể hiện cá tính riêng <br> Tỏa sáng cùng phong cách
        </h1>
        <p>Phong cách không giới hạn, chất lượng vượt trội – Nơi thời trang bắt đầu!</p>
        <div class="mt-12">
            <a href="javascript:void(0)" class="bg-primary border border-primary text-white px-8 py-3 font-medium 
                rounded-md hover:bg-transparent hover:text-primary" routerLink="/shop-page">Mua ngay</a>
        </div>
    </div>
</div>
<!-- ./banner -->

<!-- features -->
<div class="container py-16">
    <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="assets/images/icons/delivery-van.svg" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Free Shipping</h4>
                <p class="text-gray-500 text-sm">Đơn hàng trên 200,000</p>
            </div>
        </div>
        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="assets/images/icons/money-back.svg" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Hoàn tiền</h4>
                <p class="text-gray-500 text-sm">Hoàn tiền trong vòng 30 ngày</p>
            </div>
        </div>
        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="assets/images/icons/service-hours.svg" alt="Delivery" class="w-12 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Hỗ trợ 24/7 </h4>
                <p class="text-gray-500 text-sm">Hỗ trợ khách hàng</p>
            </div>
        </div>
    </div>
</div>
<!-- ./features -->

<!-- categories -->
<!-- <div class="container py-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">shop by category</h2>
    <div class="grid grid-cols-3 gap-3">
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-1.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Bedroom</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-2.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Mattrass</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-3.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Outdoor
            </a>
        </div>
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-4.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Sofa</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-5.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Living
                Room</a>
        </div>
        <div class="relative rounded-sm overflow-hidden group">
            <img src="assets/images/category/category-6.jpg" alt="category 1" class="w-full">
            <a href="javascript:void(0)"
                class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Kitchen</a>
        </div>
    </div>
  </div> -->
<!-- ./categories -->

<!-- new arrival -->
<div class="container pb-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">HÀNG MỚI VỀ</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <ng-container *ngFor="let item of listProductTop">
            <div class="bg-white shadow rounded overflow-hidden group">
                <img [src]="environment.API.urlViewImage + item.avata" alt="product 1" class="w-full"
                    style="height: 191px;">
                <div class="pt-4 pb-3 px-4">
                    <a href="javascript:void(0)" (click)="changePageProduct(item.id)">
                        <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                            {{item.name}}</h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-semibold">{{item.price|number}} VNĐ</p>
                    </div>
                </div>
                <a href="javascript:void(0)"
                    class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition" (click)="addCart(item.id)">Thêm
                    vào giỏ hàng</a>
            </div>
        </ng-container>
    </div>
</div>
<!-- ./new arrival -->

<!-- ads -->
<div class="container pb-16">
    <a href="javascript:void(0)">
        <img src="assets/images/images.jpg" alt="ads" class="w-full" style="height: 231px;">
    </a>
</div>
<!-- ./ads -->

<!-- product -->
<div class="container pb-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Đề xuất cho bạn</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
        <ng-container *ngFor="let item of listProductRamdom8">
            <div class="bg-white shadow rounded overflow-hidden group">
                <img [src]="environment.API.urlViewImage + item.avata" alt="product 1" class="w-full"
                    style="height: 191px;">
                <div class="pt-4 pb-3 px-4">
                    <a href="javascript:void(0)" (click)="changePageProduct(item.id)">
                        <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                            {{item.name}}</h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-semibold">{{item.price|number}} VNĐ</p>
                    </div>
                </div>
                <a href="javascript:void(0)"
                    class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition" (click)="addCart(item.id)">Thêm
                    vào giỏ hàng</a>
            </div>
        </ng-container>
    </div>
</div>
<!-- ./product -->